[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytesseract = "==0.3.0"
pytest = "==5.1.1"
coverage = "==4.5.3"
pytest-cov = "==2.6.1"
Pillow = "==6.1.0"
StringDist = "==1.0.9"
pyzbar = "*"

[requires]
python_version = "3.6"
